<app-sidebar-component [buttons]="[
    { label: '| Mi Usuario', imgUrl: 'buttons/usuario.svg', route: '/admin' },
    { label: '| Usuarios', imgUrl: 'buttons/usuarios.svg', route: '/admin/usuarios' },
    { label: '| Roles', imgUrl: 'buttons/roles.svg', route: '/admin/roles' },
    { label: '| Solicitudes', imgUrl: 'buttons/solicitudes.svg', route: '/admin/solicitudes' },
    { label: '| Orden del Día', imgUrl: 'buttons/orden-del-dia.svg', route: '/admin/orden-del-dia' },
    { label: '| Respuestas', imgUrl: 'buttons/respuestas.svg', route: '/admin/respuestas' },
    { label: '| Configuración', imgUrl: 'buttons/configuracion.svg', route: '/admin/tipos/solicitudes' },
    { label: '| Historial', imgUrl: 'buttons/historial.svg', route: '/admin/logs' }
  ]" (buttonClicked)="onSidebarButtonClick($event)">
</app-sidebar-component>