<app-sidebar-component
    [buttons]="[
      { label: '| Mi Usuario', imgUrl: 'buttons/usuario.svg' },
      { label: '| Usuarios', imgUrl: 'buttons/usuarios.svg' },
      { label: '| Roles', imgUrl: 'buttons/roles.svg' },
      { label: '| Solicitudes', imgUrl: 'buttons/solicitudes.svg' },
      { label: '| Orden del Día', imgUrl: 'buttons/orden-del-dia.svg' },
      { label: '| Respuestas', imgUrl: 'buttons/respuestas.svg' },
      { label: '| Configuración', imgUrl: 'buttons/configuracion.svg' },
      { label: '| Historial', imgUrl: 'buttons/historial.svg' }
    ]">