<app-sidebar-component
  [buttons]="[
    { label: '| Mi Usuario', imgUrl: 'buttons/usuario.svg', route: '/secgeneral' },
    { label: '| Usuarios', imgUrl: 'buttons/usuarios.svg', route: '/usuarios' },
    { label: '| Roles', imgUrl: 'buttons/roles.svg', route: '/roles' },
    { label: '| Solicitudes', imgUrl: 'buttons/solicitudes.svg', route: '/solicitudes' },
    { label: '| Orden del Día', imgUrl: 'buttons/orden-del-dia.svg', route: '/orden-del-dia' },
    { label: '| Respuestas', imgUrl: 'buttons/respuestas.svg', route: '/respuestas' },
    { label: '| Configuración', imgUrl: 'buttons/configuracion.svg', route: '/configuracion' },
    { label: '| Historial', imgUrl: 'buttons/historial.svg', route: '/logs' }
  ]"
  (buttonClicked)="onSidebarButtonClick($event)">
</app-sidebar-component>
