<p-dialog [(visible)]="visible" [modal]="true" [closable]="false" styleClass="custom-dialog">
  <ng-template pTemplate="header">
    <div class="custom-dialog-header">
      {{ title }}
      <button type="button" class="close-btn" (click)="close()">X</button>
    </div>
  </ng-template>

  <div class="dialog-content" *ngIf="visible && steps.length">
    <br>
    <span class="dialog-title">{{ steps[currentStep].title }}</span>
    <ng-container *ngTemplateOutlet="steps[currentStep].contentTemplate"></ng-container>
  </div>

  <ng-template pTemplate="footer">
    <div class="footer-buttons">
      <app-simple-button-component *ngIf="currentStep > 0" label="Anterior" width="90px" height="30px"
        (clicked)="prevStep()">
      </app-simple-button-component>

      <app-simple-button-component *ngIf="currentStep < steps.length - 1" label="Siguiente" width="90px" height="30px"
        [disabled]="!(steps[currentStep].canContinue?.() ?? true)" (clicked)="nextStep()">
      </app-simple-button-component>


      <app-simple-button-component *ngIf="currentStep === steps.length - 1" label="Guardar" width="90px" height="30px"
        [disabled]="!(steps[currentStep].canContinue?.() ?? true)" (clicked)="onSave()">
      </app-simple-button-component>
    </div>
  </ng-template>
</p-dialog>