html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
}

.avatar-custom {
  background-color: #ece9fc !important;
  color: #2a1261 !important;
  border: 2px solid red !important;
  border-radius: 50%; 
}



